---
layout: default
---

<h1>Web Directory</h1>

<p>You can also download an <a href="/rss.opml" download="uoftwhwc.opml">OPML file</a> containing these feeds (<a href="https://indieweb.org/OPML">What is an OPML file?</a>).</p><br>
<p>Website are sorted from most to least recently updated (based on what we can detect).</p><br>
{% assign members = site.data.members | sort: 'last_updated' %}
{% for member in members reversed %}

    <a href="{{ member.site_url }}">{{ member.site_url }}</a> - {{ member.name }}

    {% if member.feed %}
        <a class="rss" href="{{ member.feed }}"><img src="/assets/img/rss.png"></a>
    {% endif %}

    <br>

{% endfor %}

<br>

<h3>Buttons</h3>

{% include buttons.html %}
