---
layout: default
---

{% assign chronological_feeds = site.recent_feeds | reverse %}

<marquee>
    {% for item in chronological_feeds limit: 10 %}
        <a href="{{ item.link }}">{{ item.title }}</a> - {{ item.link | split: "//" | last | split: "/" | first }}
    {% endfor %}
</marquee>

<h1>{{ site.title }}</h1>

<img src="/assets/img/logo_final.gif" class="logo">

<p>Welcome to the {{ site.title }}'s homepage.</p>
<p class="description">We are a club that fosters the creation and sharing of blogs and homebrew websites. If you are still learning the basics, you can develop your programming skills and creativity in a supportive environment. If you already have a website, you can have discussions with and draw inspiration from likeminded people (and get more eyes on your efforts).</p>
<p><b>If you are new to the club, check out our <a href="/readme">README</a></b></p>

<h2>Contact</h2>

<p>Join our Discord server <a href="{{ site.discord_invite }}">here<img class="icon rss" src="/assets/img/discord_small.png"></a></p>
<p>Alternatively, our email is <a href="mailto:{{ site.email | encode_email }}">{{ site.email | replace: "@", " [at] " }} <img class="icon rss" src="/assets/img/mail_small.png"></a></p>
<p>Follow us on Instagram at <a href="https://instagram.com/{{ site.instagram }}">{{ site.instagram }} <img class="icon rss" src="/assets/img/instagram_small.png"></a></p>

<h2>Upcoming Events</h2>
{% ical url: site.google_calander_ical_link only_future: true limit: 5 %}
    {{ event.summary }}<div class="flavor">{{ event.start_time | date: "%B %e, %Y from %I:%M %p" }} - {{ event.end_time | date: "%I:%M %p" }}</div>
    {{ event.description }}
    <br><br>
{% endical %}

<h2 style="display:inline-block">Recent Announcements</h2><a href="/announcements.xml" target="_blank"><img class="rss" src="/assets/img/rss.png" /></a>
<br>
{% assign lastweek_timestamp = 'now' | date: '%s' | minus: 604800 %}
{% for post in site.posts limit:5 %}

    <i>{{ post.date | date: "%B %e, %Y" }}</i>
    <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.excerpt | strip_html}}
    {% assign post_timestamp = post.date | date: '%s' | plus: 0 %}
    {% if post_timestamp > lastweek_timestamp %}
        <img src="/assets/img/new.gif">
    {% endif %}
    <br>

{% endfor %}

<br><a href="/archive">See all</a><br>

<h2 style="display:inline-block">Recent Member Feed Updates</h2><a href="/feed.xml" target="_blank"><img class="rss" src="/assets/img/rss.png" /></a>
<br>
{% for post in chronological_feeds limit: 10 %}
    <div class="feed-preview">
    <a href="{{ post.link }}">{{ post.title }}</a>
    <p class="flavor">{{ post.host }}</p>
    {% if post.description.size > 0 %} 
        {{ post.description | strip_html | truncate: 100}}
    {% else %}
        {{ post.excerpt | strip_html | truncate: 100}}
    {% endif %}
    </div>
{% endfor %}

<br><a href="/member_archive">See all</a><br><br>

{% include buttons.html %}