---
layout: default
---

<marquee>
    {% for item in site.recent_feeds %}
        <a href="{{ item.link }}">{{ item.title }}</a> - {{ item.link | split: "//" | last | split: "/" | first }}
    {% endfor %}
</marquee>

<h1>{{ site.title }}</h1>

<img src="/assets/img/logo_final.gif" class="logo">

<p>Welcome to the {{ site.title }}'s homepage.</p>
<p class="description">We are a club that fosters the creation and sharing of blogs and homebrew websites. If you are still learning the basics, you can develop your programming skills and creativity in a supportive environment. If you already have a website, you can have discussions with and draw inspiration from likeminded people (and get more eyes on your efforts).</p>
<p>If you are new to the club, check out our <a href="/readme">README</a></p>

<h3>Contact</h3>

<p>Join our Discord server <a href="{{ site.discord_invite }}">here<img class="icon rss" src="/assets/img/discord_small.png"></a></p>
<p>Alternatively, our email is <a href="mailto:{{ site.email | encode_email }}">{{ site.email | replace: "@", " [at] " }} <img class="icon rss" src="/assets/img/mail_small.png"></a></p>
<p>Follow us on Instagram at <a href="https://instagram.com/{{ site.instagram }}">{{ site.instagram }} <img class="icon rss" src="/assets/img/instagram_small.png"></a></p>

<h3 style="display:inline-block">Recent Announcements</h3><a href="/announcements.atom" target="_blank"><img class="rss" src="/assets/img/rss.png" /></a>
<br>
{% for post in site.posts limit:5 %}

    {{ post.date | date: "%B %e, %Y" }}
    <a href="{{ post.url }}">{{ post.title }}</a> - {{ post.excerpt | strip_html}}<br>

{% endfor %}

<br><a href="/archive">See all</a><br>

<h3 style="display:inline-block">Recent Member Feed Updates</h3><a href="/feed.xml" target="_blank"><img class="rss" src="/assets/img/rss.png" /></a>
<br>
{% for post in site.recent_feeds limit: 10 %}

    <a href="{{ post.link }}">{{ post.title }}</a> -
    {% if post.description.size > 0 %} 
        {{ post.description | strip_html | truncate: 80}}
    {% else %}
        {{ post.excerpt | strip_html | truncate: 80}}
    {% endif %}<br>

{% endfor %}

<br>

{% include buttons.html %}