---
layout: default
---

<h1>Member Feed Archive</h1>

{% assign postsByMonth =
    site.recent_feeds | reverse | group_by_exp:"post", "post.date | date: '%B %Y'" %}
{% for month in postsByMonth %}
    <h3>{{ month.name }}</h3>
    {% for post in month.items %}
        <a href="{{ post.link }}">{{ post.title }}</a> -
        {% if post.description.size > 0 %} 
            {{ post.description | strip_html | truncate: 80}}
        {% else %}
            {{ post.excerpt | strip_html | truncate: 80}}
        {% endif %}<br>
    {% endfor %}
{% endfor %}

