<div class="buttons">
    <!-- Site buttons need to be placed individually since hrefs need to be specialised-->
    <a href="{{ site.url }}">
        <img src="/assets/img/site_buttons/site/webloggingclub.gif">
    </a>
    <a href="https://512kb.club/">
        <img src="/assets/img/site_buttons/site/blue-team.gif">
    </a>
    {% for member in site.members %}
        {% if member.button %}
        <a href="{{ member.site_url }}">
            <img src="/assets/img/site_buttons/member/{{ member.button }}">
        </a>
        {% endif %}
    {% endfor %}
</div>