{% comment %}
To add a seasonal style,
1. Add an additional clause in the final if statement checking if the event is currently active
2. Create a new html file in _includes for your styling
3. Include it in the clause you created in step 1
4. Optionally, you can also give your event a sitewide variable to modify things outside of your include (for example, a simple message on the homepage)
{% endcomment %}

{% assign current_year = "now" | date: "%Y" | minus: 0 %}
{% assign current_month = "now" | date: "%m" | minus: 0 %}
{% assign current_day = "now" | date: "%d" | minus: 0 %}

{% if current_month == 12 and 11 < current_day and current_day < 28 %}
    {% assign christmas = true %}
    {% include christmas.html %}
{% elsif current_month == 12 and current_day == 31 %}
    {% assign newyears = true %}
    {% include newyears.html %}
{% elsif current_month == 1 and current_day < 4 %}
    {% assign newyears = true %}
    {% include newyears.html %}
{% endif %}