---
title: Smallweb - March 2025
---

<!DOCTYPE html>

<html>
    <head>
        {% include header_basics.html %}
        <link rel="stylesheet" href="/assets/css/events/march2025.css"/>
    </head>
    <body>
        <div class="top">
            {% include navbar.html %}
            <div class="x-button">X</div>
        </div>
        <div class="content">
            <pre>
　　　　 彡⌒ミ<br>　　　　） (´･ω･) 　 　 　 　見たお<br>　　　 (　 ( つ/￣￣￣/　<br>　　(´[_]　＼/＿＿＿/)<br>　　 [i＝========＝i]
            </pre>
            <h3>What?</h3>
            <p>You might have set up your blog - graphics, fonts, hover effects and all - but finally filling it with content can be intimidating. To help motivate you to write for your site, WHWC will host a theme every month for members to share and contribute!</p>
            <h3>How?</h3>
            <ul>
                <li>Become a member of the <a href="/readme">UofT Weblogging and Homebrew Website Club</a></li>
                <li>Write a blog post on the topic of the current theme</li>
                <li><a href="mailto:{{ site.email | encode_email }}">E-mail</a> (or Discord) a link to your post, and we will list it on this page</li>
            </ul>
            <h2>This month's theme: Small Web</h2>
            <pre>
　　　　＿＿＿＿
　　　／　　　 ／ |
　　 Γ￣￣￣￣ |　|
　　 |[]::　　　 |　|
　　 |＿＿_＿＿|　|
　　 |[]::　　　 |　|
　　 |＿＿_＿＿|　|
ｶﾞﾗｯ |＿＿_＿＿|　|
.彡／(´・ω・｀)　／|　|
　Γ￣￣￣￣ |　|／
　Ｌ＿＿＿＿|／
            </pre>
            <p>As our first theme, we want to start with something we are all familiar with. Write about anything on the topic of the small web! Though you are not required to answer all or any of these, the following list of questions can help you get started:</p>
            <ul class="rainbow-text">
                <li>What interested you in making a site?</li>
                <li>What other sites have inspired your own?</li>
                <li>What resources have been indispensable to making your site?</li>
                <li>Do you use templates or generators?</li>
                <li>Is the small web a good alternative to social media?</li>
                <li>How has the small web affected how you use the internet?</li>
            </ul>
            <pre>
.　 彡 ⌒ ミ　　！
　 ( ´･ω･`)
＿(__つ/￣￣￣/＿ｶﾀｶﾀｶﾀｶﾀ
. 　 ＼/＿＿＿/


うるさいうるさいうるさい！！
　.ﾊﾞﾝ.彡⌒ ミ ﾊﾞﾝ　ﾊﾞﾝ
　　∩；｀･ω･´)　 ﾊﾞﾝ
　　/ ﾐつ/￣￣￣/ﾊﾞﾝ
.￣￣＼/＿＿＿/￣

            </pre>
            <h4>Good Luck!</h4>
        </div>
    </body>
</html>