---
layout: default
--- 

<h1>WHWC {{page.theme | capitalize }} Writing Event!</h1>
<h3>What?</h3>
<p>You might have set up your blog - graphics, fonts, hover effects and all - but finally filling it with content can be intimidating. To help motivate you to write for your site, WHWC will host a theme every month for members to share and contribute!</p>
<p>Check out <a href="/events/march2025">a previous month's event</a>!</p>
<h3>How?</h3>
<ul>
    <li>Become a member of the <a href="/readme">UofT Weblogging and Homebrew Website Club</a></li>
    <li>Write a blog post on the topic of the current theme</li>
    <li><a href="mailto:{{ site.email | encode_email }}">E-mail</a> (or Discord) a link to your post, and we will list it on this page</li>
    <li>Alternatively, email us a text/markdown/html file and we can host it locally if you do not yet have a site</li>
</ul>
<h2>This month's theme: {{ page.theme | capitalize }} </h2>

{{ content }}

<h3>Submissions</h3>

{% for entry in site.data[page.slug] %}
    <div class="submission">
        <a href="{{ entry.entry_url }}"><b>{{ entry.title }}</b></a> - <i>{{ entry.entry_url | split: "//" | last | split: "/" | first }}</i><br>
        {{ entry.excerpt }}
    </div>
    &#8201;
{% endfor %}